@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
  width: 0px;
}
html{
  background-color: rgb(162, 162, 162);
}
header {
  background-color: #7a7979;
  width: 100vw;
  text-align: center;
  color: #fff;

}
menu#menulinha{
  width: 100vw;
  display: none;
  
}
li{    
    background-color: rgb(131, 131, 131);
    border-top: 1px solid #fff;
    padding: 5px;

    list-style-type: none;
    
    a{
      text-decoration: none;
      text-align: center;
      color: #fff;

    }
  }
li:hover {
  cursor: pointer;
  background-color: #fff;
  text-decoration: underline;
  a{
    color: black;
  }
}
#menuburger{
  background-color: rgb(83, 82, 83);
  display:  block;
  cursor: pointer;
}
#menuburger:hover{
  background-color: #fff;
  color: black;
}

main {
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  width: 80vw;
  margin: auto;
  margin-top: 10px;
  article, p{
    text-indent: 10px;
    margin-bottom: 10px;    
    text-align: justify;
  }

}
