@charset "utf-8";
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
section#centro {
  
  background-color: rgb(155, 155, 156);
}
#conteiner{
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  

}
#conteiner1{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

}
.text {
  border: 1px dotted ;
  text-align: justify;
  text-indent: 30px;
  flex: 0 1 50%;
}
div.fotoinca{
  width: 490px;
  height: 215px;
  background-image: url('../img/paisagem.jpeg');
  background-size: cover;

}
div#video{
  display:flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
#video > iframe {
  margin: 10px;
 
}