@charset "utf-8";
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-boxc;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
section#centro {
  
  background-color: rgb(155, 155, 156);
}
#conteiner{
  display: flex;
  flex-flow: row wrap-reverse;
  padding: 10px;

}
#conteiner1{
  display: flex;
  flex-flow: row wrap;
  padding: 10px;

}
.text {
  border: 1px dotted ;
  flex:  1 500;
  text-align: justify;
  text-indent: 30px;
}
div.fotoinca{
  margin: 10px;
  background-image: url('../img/paisagem.jpeg');
  background-size: cover;
  flex: 1 0 150px;

}
div#video{
  display:flex;
  background-color: lightgray;
  background-size: cover;
}
#video > iframe {
  margin: 10px;
  flex: 1 1 560;
}