@charset "utf-8";
@font-face {
  font-family: boost;
  src: url(font/BoostPlayer_PERSONAL_USE_ONLY.otf) format("opentype");
}


h1{
  color: #d1121200;
  background-image: linear-gradient(to bottom,#d11212, #f4f43ce4);
  background-clip: text;
  font-family: "boost";
  text-align: center;
  text-decoration: underline;
  font-size: 3em;
}
.pai {
   display: flex;
  align-items: center;
  justify-content: center;
  width: 100vh;
  height: 100vh;
  margin: 0;
  padding: 1em;

}

.filho {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
 /* width: 600px;
  height: 600px;
  border-radius: 50%;
  background-image: radial-gradient(circle, #ff590c, #f4f43ce4,#d11212, #f4f43ce4 );
  transform: translate(2);*/
}
.img {
  margin:auto;
  
}