@charset "UTF-8";
body{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-align: justify;
}
header {
  background-color: darkblue
  ;
}
strong#urdi {
  display: inline-block;
  position: relative;
  transition: 1s;
  cursor: pointer;
}
strong#urdi:hover {
  background-size: cover;
  background-image: url('imagens/urdi2.png');
  width: 200px;
  height: 200px;
  border-radius: 8px;
  transform: translate(50px, -200px);
  color: transparent;
}
img {
  width: 200px;
}