


body {
      background-color: rgb(0, 255, 13);
      font-family: 'Courier New', Courier, monospace;
      font-size: 20px;
    }
    h1 {
      color: rgb(2, 2, 50);
      font-size: 3em;
    }
    h2 {
      color: rgb(255, 9, 9);
      font-size: 1em;
    }
    p {
      text-align: justify;
    }
    button{
       width: 100px;
       height: 40+5px;
       border-radius: 20%; 
       border-color: turquoise;
       border-width: 5px;
       background-color: darkslategrey;
    }